.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  text-align: center;
  font-size: 25px;
  color: #fff;
  min-height: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
}

.text {
  animation: fadeInOut 1.5s linear infinite;
  font-weight: 550;
  font-family: monospace;
}

.button-start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  padding: 20px;
  border-radius: 8px;
  background-color: #e4ffff;
}

.button-start .textButton {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
}

.button {
  text-align: center;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
